<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace= "/fragments/head :: head" </head>

    <body>

        <header>
            <nav th:replace= "/fragments/navbar :: nav" </nav>
        </header>

        <main>

            <div class="container">

                <table class="table">

                    <thead>

                        <tr>

                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Salario US$</th>
                            <th scope="col">Modificar</th>                         

                        </tr>

                    </thead>

                    <tbody class="table-group-divider" th:each="periodista: ${periodistas}">

                        <tr>

                            <th scope="row" th:text="${periodista.id}" ></th>
                            <td th:text="${periodista.nombre}"></td>
                            <td th:text="${periodista.salario}" style="font-weight: bold; color: red"></td>
                            <td><a th:href="@{/administrador/periodistaDetalladoModificar/__${periodista.id}__}"><button type="button" class="btn btn-warning">Modificar</button></a></td>

                        </tr>    

                    </tbody>

                </table>

            </div>

        </main>

        <footer th:replace= "/fragments/footer :: footer" </footer>

        <script th:replace= "/fragments/script :: script" </script>
    </body>

</html>
