<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace= "/fragments/head :: head" </head>

    <body>

        <header>
            <nav th:replace= "/fragments/navbar :: nav" </nav>
        </header>

        <main>

            <div class="container">

                <table class="table">

                    <thead>

                        <tr>

                            <th scope="col">Id</th>
                            <th scope="col">Título</th>
                            <th scope="col">Periodista</th>
                            <th scope="col">Modificar</th>
                            <th scope="col">Eliminar</th>

                        </tr>

                    </thead>

                    <tbody class="table-group-divider" th:each="noticia: ${noticias}">

                        <tr>

                            <th scope="row" th:text="${noticia.id}" ></th>
                            <td th:text="${noticia.titulo}"></td>
                            <td th:text="${noticia.periodista.nombre}"></td>
                            <td><a th:href="@{/periodista/noticiaDetalladaModificar/__${noticia.id}__}"><button type="button" class="btn btn-warning">Modificar</button></a></td>
                            <td><a th:href="@{/periodista/persistirNoticiaEliminada/__${noticia.id}__}"><button type="button" class="btn btn-danger">Eliminar</button></a></td>

                        </tr>    

                    </tbody>

                </table>

            </div>

        </main>

        <footer th:replace= "/fragments/footer :: footer" </footer>

        <script th:replace= "/fragments/script :: script" </script>
    </body>

</html>

