<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head" </head>
    <body>

        <header>
            <nav th:replace= "/fragments/navbar :: nav" </nav>
        </header>

        <main>
            <div class="container">

                <div class="row m-4">

                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 py-3" th:each="noticia: ${noticias}">

                        <div class="card d-flex" style="min-height:540px"> 
                            <a class="text-decoration-none text-black" th:href="@{/detallarNoticia}+'?id='+${noticia.id}">
                                <img class="card-img-top" th:src="${noticia.foto}" style="min-height:300px; max-height:325px">

                                <div class="card-body justify-content-center">
                                    <h3 class="card-title text-center" th:text="${noticia.titulo}"></h3>

                                </div>

                                <div class="card-footer position-absolute bottom-0 start-50 translate-middle-x" style="width: 100%" >
                                    <small class="text-muted " th:text="${noticia.alta}"></small>
                                </div>
                            </a>
                        </div>


                    </div>


                </div>
        </main>

        <footer th:replace= "/fragments/footer :: footer" </footer>
        <!--        <script th:replace= "/fragments/script :: script" </script>-->
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
