<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace= "/fragments/head :: head" </head>

    <body>

        <header>
            <nav th:replace= "/fragments/navbar :: nav" </nav>
        </header>

        <main>

            <div class="container">

                <form th:action="@{/periodista/persistirNoticiaModificada/__${noticia.id}__}"  method="POST">

                    <input hidden th:value="${id}" name="id">

                    <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                        <div class="card-body">
                            <h5 class="card-title">Exito!</h5>
                            <p class="card-text" th:text="${exito}"></p>
                        </div>
                    </div>
                    <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
                        <div class="card-body">
                            <h5 class="card-title">Error!</h5>
                            <p class="card-text" th:text="${error}"></p>
                        </div>
                    </div>

                    <legend>Modifica una noticia</legend>

                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">Título</label>
                        <input type="text" id="disabledTextInput" class="form-control" name="titulo"  th:value="${noticia.titulo}" placeholder="Ingresa el título">
                    </div>

                    <div class="form-floating">
                        <textarea  id="floatingTextarea2" class="form-control" name="cuerpo" th:value="${noticia.cuerpo}"  placeholder="Ingresa el cuerpo" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Cuerpo de la noticia</label>
                    </div>

                    <label for="basic-url" class="form-label">URL de la foto</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">https://example.com/img/</span>
                        <input type="url"  id="basic-url" class="form-control" name="foto" th:value="${noticia.foto}"  aria-describedby="basic-addon3">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                    <button type="reset" class="btn btn-secondary">Reset</button>

                </form>

            </div>

        </main>

        <footer th:replace= "/fragments/footer :: footer" </footer>
    </body>

</html>

